<div class="bg-dark"></div>

<div class="home-information">
	<h1 class="slogan">One swipe can change your life</div>
	<a class="btn btn-social btn-lg bt-facebook">
	        <i class="fa fa-facebook"></i> Sign in with Facebook
	</a>
<br  /><br  />
	</div>


	<script type="text/javascript">

	jQuery(function($) {

		$.supersized{
			slide_interval : 4000,
			transition     : 1,
			transition_speed: 700,
			slinde_links   :'blank',

			slides     : [

				{image : 'assets/bg.jpg'},
				{image : 'assets/bg2.jpg'},
				{image : 'assets/bg3.jpg'}

			]

		});


	});

</script>